* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: rgb(141, 192, 194);
  border-radius: 10px;
  min-width: 250px;
}
